@{

    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using MVCProject.Common.ViewModels

@{
    ViewBag.Title = "Create Role";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

   
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}
