
@{
    ViewBag.Title = "İlanınız Kaydedildi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div id="services">
    <div class="title">
        <h2>İlanınız Kaydedildi</h2>
        <span class="underline">&nbsp;</span>
    </div>
</div>

<div class="form-horizontal">
    <div class="col-md-4">
        <img src="~/Theme/img/bidcompleted.png" />
    </div>
    <div class="col-md-8">
        <h4>48 saat içinde firmaların teklif verme işlemi tamamlanacaktır. Teklif verme süresi tamamlandığında sizi bilgilendireceğiz. </h4>
        <br />
        <br />

        <div class="col-lg-1 center"><a href="../Account/Orders" class="btn btn-primary btn-lg" role="button"> İlanlarım </a></div>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />