
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pages">
    <div data-page="form" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages">
                <div class="navbar_left"><a href="index.html"><img src="images/icons/blue/menu.png" alt="" title="" /></a></div>
                <div class="navbar_center"><h2><a href="index.html">codec</a></h2></div>
                <div class="navbar_right"><a href="#" data-panel="right" class="open-panel"><img src="images/icons/blue/user.png" alt="" title="" /></a></div>
            </div>
            <div id="pages_maincontent">

                <h2 class="page_title">CUSTOM FORM</h2>

                <div class="page_content">

                    <div class="contactform">
                        <form>
                            <div class="form_row">
                                <div class="form_row_icon"><img src="images/icons/blue/user.png" alt="" title="" /></div>
                                <input type="text" name="name" value="" class="form_input" placeholder="name" />
                            </div>

                            <div class="form_row">
                                <div class="form_row_icon"><img src="images/icons/blue/contact.png" alt="" title="" /></div>
                                <input type="text" name="email" value="" class="form_input" placeholder="name" />
                            </div>

                            <div class="form_row">
                                <div class="form_row_icon"><img src="images/icons/blue/toggle.png" alt="" title="" /></div>
                                <div class="custom_select">
                                    <a href="#" class="item-link smart-select" data-open-in="picker">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-after">Custom Select</div>
                                            </div>
                                        </div>
                                        <select name="selectors">
                                            <option value="1" selected>custom select</option>
                                            <option value="2">select two</option>
                                            <option value="3">select three</option>
                                            <option value="4">select four</option>
                                            <option value="5">select five</option>
                                            <option value="6">select six</option>
                                            <option value="7">select seven</option>
                                            <option value="8">select eight</option>
                                            <option value="9">select nine</option>
                                            <option value="10">select ten</option>
                                        </select>
                                    </a>
                                </div>
                            </div>

                            <div class="form_row">
                                <div class="form_row_icon"><img src="images/icons/blue/tabs.png" alt="" title="" /></div>
                                <div class="custom_select">
                                    <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-after">Custom Select</div>
                                            </div>
                                        </div>
                                        <select name="selectors">
                                            <option value="1" selected>custom select with autocomplete</option>
                                            <option value="2">select two</option>
                                            <option value="3">select three</option>
                                            <option value="4">select four</option>
                                            <option value="5">select five</option>
                                            <option value="6">select six</option>
                                            <option value="7">select seven</option>
                                            <option value="8">select eight</option>
                                            <option value="9">select nine</option>
                                            <option value="10">select ten</option>
                                        </select>
                                    </a>
                                </div>
                            </div>


                            <div class="form_row">
                                <label>Radio:</label>
                                <div class="form_row_right">
                                    <label class="label-radio item-content">
                                        <!-- Checked by default -->
                                        <input type="radio" name="my-radio" value="Books" checked="checked">
                                        <div class="item-inner">
                                            <div class="item-title">Books</div>
                                        </div>
                                    </label>

                                    <label class="label-radio item-content">
                                        <!-- Checked by default -->
                                        <input type="radio" name="my-radio" value="Movies">
                                        <div class="item-inner">
                                            <div class="item-title">Movies</div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="form_row">
                                <label>Checkbox:</label>
                                <div class="form_row_right">
                                    <label class="label-checkbox item-content">
                                        <!-- Checked by default -->
                                        <input type="checkbox" name="my-checkbox" value="Books" checked="checked">
                                        <div class="item-media">
                                            <i class="icon icon-form-checkbox"></i>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Books</div>
                                        </div>
                                    </label>

                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="my-checkbox" value="Movies">
                                        <div class="item-media">
                                            <i class="icon icon-form-checkbox"></i>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Movies</div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="form_row">
                                <label>Switch:</label>
                                <div class="form_row_right">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">On/Off</div>
                                            <div class="item-input">
                                                <label class="label-switch">
                                                    <input type="checkbox">
                                                    <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form_row">
                                <div class="form_row_icon"><img src="images/icons/blue/message.png" alt="" title="" /></div>
                                <textarea name="message" class="form_textarea" rows="" cols="">your message here</textarea>
                            </div>


                            <input type="submit" name="submit" class="form_submit" id="submit" value="Send" />
                        </form>
                    </div>



                </div>

            </div>


        </div>
    </div>
</div>
