
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div id="services">
    <div class="title">
        <h2>Bilgiler</h2>
        <span class="underline">&nbsp;</span>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <p>
            <h3>Lütfen bu konulara dikkat ediniz!</h3>
            <ul>
                <li>	Ustanızın yetkinliğe sahip olup olmadığını anlamak için usta profilini inceleyerek yeterlik belgelerini kontrol ediniz.</li>
                <li>	Ustanın sigortalı olup olmadığını sorunuz.</li>
                <li>	Ek müşteri referansları isteyiniz. Ayrıca diğer müşterilerin usta hakkında neler söylediklerini görmek için Usta profil sayfasındaki derecelendirmeleri ve yorumları kontrol edebilirsiniz.</li>
                <li>	Ustanın  işiniz için gerekli izinleri alacağından emin olun.</li>
                <li>	Aldığınız tekliflerde çok yüksek veya daha düşük tekliflere karşı dikkatli olunuz.</li>
                <li>	Söz uçar yazı kalır. Projeniz için işin kapsamına neyin dahil olduğunu belirten bir sözleşme isteyin.</li>
                <li>	İşiniz tamamlanmadan bütün ödemeyi yapmayın. Beğenmediğiniz alanlarda değişiklikler yapılmasını talep edin. Paranın tamamını iş bitiminde ödeyin.</li>
                <li> Lisans, sigorta, sözleşmeler, faturalar, ödeme fişleri , ilerleme fotoğrafları ve projeyle ilgili tüm yazışmalar dahil olmak üzere her şeyin kayıtlarını saklayın.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Theme/img/remodeling.jpg" class="img-responsive" />
    </div>
</div>