
@using MVCProject.Common.ViewModels
@model List<CategoryVM>

@{
    ViewBag.Title = "ZuuCargo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="features-boxed ">
    <div class="container">
      
        <div class="row justify-content-center features">

            <div class="col-6 col-md-5 col-lg-5 item">
                <a href="/Track/TrackShipment">
                    <div class="border rounded box" style="background-color: #1FB5C7">
                        <i class="fa fa-map-marker fa-5x " style="color: white;"></i>
                        <br />

                        <h3 class="text-white name">Track Your Shipment</h3>
                    </div>
                </a>
            </div>


            <div class="col-6 col-md-5 col-lg-5 item">
                <a href="/Track/Live">
                    <div class="border rounded box" style="background-color: #1FB5C7">
                        <i class="fa fa-truck fa-5x" style="color: white;"></i>
                        <br />

                        <h3 class="text-white name">Live Track</h3>
                    </div>
                </a>
            </div>

            <div class="col-6 col-md-5 col-lg-5 item">
                <a href="/Home/CalculateShipping">
                    <div class="border rounded box" style="background-color: #1FB5C7">
                        <i class="fa fa-usd fa-5x" style="color: white;"></i>
                        <br />

                        <h3 class="text-white name"><strong>Get Shipping Rates</strong><br /></h3>
                    </div>
                </a>
            </div>
            @if (User.IsInRole("Agent"))
            {
        <div class="col-6 col-md-5 col-lg-5 item">
            <a href="/Agent/Index">
                <div class="border rounded box" style="background-color: #1FB5C7">
                    <i class="fa fa-archive fa-5x" style="color: white;"></i>
                    <br />
                    <h3 class="text-white name">Agent Screen</h3>
                </div>
                </a>
        </div>
            }
            else
            {
        <div class="col-6 col-md-5 col-lg-5 item">
            <a href="/Account/MyPackages">
                <div class="border rounded box" style="background-color: #1FB5C7">
                    <i class="fa fa-archive fa-5x" style="color: white;"></i>
                    <br />
                    <h3 class="text-white name">Create & List Packages</h3>
                </div>
               </a>
        </div>
            }
        </div>
 
    </div>
</section>
<style>
    .features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
    strong {
        font-weight: bold;
    }


</style>