
@model MVCProject.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifremi unuttum";
}

@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Şifre Hatırlatma ";
}

<br />
<div id="services">
    <div class="title">
        <h2>Şifremi Unuttum</h2>
        <span class="underline">&nbsp;</span>
    </div>
</div>

<div class="form-horizontal">
    <div class="col-md-4">
        <img src="~/Theme/img/forgot-password.png" />
    </div>
    <div class="col-md-8">
        <h4> Yeni şifre oluşturmak için eposta adresinizi giriniz.</h4>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Şifremi Değiştir" />
                </div>
            </div>
        }
        <br />
        <br />


    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

