
@{
    ViewBag.Title = "Backup";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (true)
{
    <h2>Backup Complete </h2>

    <h3> Backup Complete Succesfully</h3>

}
else
{
    <h2>Backup Error!  </h2>
    <br />

    <code>@ViewBag.Error</code>
}

<br />

<code>@ViewBag.Error</code>